a1_1.fq filter=lfs diff=lfs merge=lfs -text
a1_2.fq filter=lfs diff=lfs merge=lfs -text
b1_1.fq filter=lfs diff=lfs merge=lfs -text
b1_2.fq filter=lfs diff=lfs merge=lfs -text
refGene.gtf filter=lfs diff=lfs merge=lfs -text
control2_1.fq filter=lfs diff=lfs merge=lfs -text
control2_2.fq filter=lfs diff=lfs merge=lfs -text
test2_1.fq filter=lfs diff=lfs merge=lfs -text
test2_2.fq filter=lfs diff=lfs merge=lfs -text
genome.fa filter=lfs diff=lfs merge=lfs -text
mm10.gtf filter=lfs diff=lfs merge=lfs -text
mouse.fa filter=lfs diff=lfs merge=lfs -text
mm9.fa filter=lfs diff=lfs merge=lfs -text
data/exome.fq filter=lfs diff=lfs merge=lfs -text
